 /* Estilos CSS para la imagen de encabezado, el menú y el texto explicativo */
    .header-image {
     max-width: 300px; /* Cambia el tamaño según tus necesidades */
     display: block;
     margin: 0 auto; /* Centra horizontalmente la imagen */
    }

    .menu {
      background-color: #f1f1f1;
      padding: 10px;
    }

    .menu a {
      margin-right: 10px;
      text-decoration: none;
      color: #333;
    }

    .explanation {
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.5;
    }

    /* Estilos CSS para el pie de página */
    .footer {
      background-color: #f1f1f1;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      color: #666;
    }
